.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 50;
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: -100%;
        background-color: transparent;
        transition: right 0.3s ease 0s, background-color 0.3s ease 0s;
    }
    .menu-open & {
        &::after {
            right: 0;
            background-color: $mainColor;
        }
    }

    &__container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: rem(160);
        @media (max-width: em(1240)), (max-height: $mobile) {
            min-height: rem(80);
        }

        @media (max-width: $mobile) {
            min-height: rem(60);
        }
    }

    &__facebook {
        position: absolute;
        z-index: 40;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: rem(24);
        min-width: rem(160);
        height: 100%;
        top: 0;
        right: calc(100% - rem(15));
        color: $white-1;
        @media (max-width: em(1439.98)) {
            right: auto;
            left: rem(-65);
        }
        @media (max-width: em(1240)) {
            min-width: rem(80);
            left: rem(15);
        }
        @media (max-width: $mobile) {
            min-width: 0;
        }
    }

    &__logo {
        position: relative;
        z-index: 40;
        display: flex;
        align-items: center;
    }

    &__menu {
    }

    &__button {
        position: absolute;
        z-index: 40;
        height: 100%;
        min-width: rem(160);
        top: 0;
        left: calc(100% - rem(15));
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: em(1439.98)) {
            left: auto;
            right: rem(-65);
        }
        @media (max-width: em(1240)) {
            right: rem(15);
            min-width: rem(80);
        }
        @media (max-width: $mobile) {
            min-width: rem(54);
            margin-right: rem(-15);
        }
        @media (min-width: $mobile) {
            background-color: $mainColor;
            &::after {
                content: "";
                position: absolute;
                width: 1000%;
                height: 100%;
                top: 0;
                left: 100%;
                background-color: $mainColor;
            }
        }
    }
    &__icon {
    }
}
.menu {
    &__body {
        position: fixed;
        width: 100%;
        height: rem(0);
        top: 0;
        right: -100%;
        background-color: $mainColor;
        overflow: hidden;
        transition: padding-bottom 0.3s ease 0s, padding-top 0.3s ease 0s, overflow 0.3s ease 0s,
            right 0.3s ease 0s, height 0.3s ease 0s;
        .menu-open & {
            padding-bottom: rem(30);
            padding-top: rem(100);
            overflow: auto;
            right: 0;
            height: 100%;
            .menu__list {
                opacity: 1;
            }
            @media (min-width: $mobile) {
                padding-top: rem(160);
            }
        }
    }

    &__list {
        opacity: 0;
        transition: opacity 0.3s ease 0s;
        @media (min-width: $mobile) {
            padding: 0px rem(80);
        }
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: rem(10);
        }
    }

    &__link {
        font-weight: 700;
        font-size: rem(20);
        line-height: math.div(32, 20);
        color: $white-1;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $primary;
            }
        }
    }
}

.icon-menu {
    display: block;
    position: relative;
    width: rem(24);
    height: rem(24);
    cursor: pointer;
    span,
    &::before,
    &::after {
        content: "";
        transition: all 0.3s ease 0s;
        left: 0;
        position: absolute;
        width: 100%;
        height: rem(2);
        background-color: $white-1;
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }
    span {
        width: rem(16);
        top: calc(50% - rem(1));
    }

    @media (any-hover: hover) {
        &:hover {
            span,
            &::before,
            &::after {
                background-color: $primary;
            }
        }
    }
    .menu-open & {
        span {
            width: 0;
        }
        &::before {
            top: calc(50% - rem(1));
            transform: rotate(-45deg);
        }
        &::after {
            bottom: calc(50% - rem(1));
            transform: rotate(45deg);
        }
    }
}
